<footer>

    <div class="footer">

        <a href="#" style="color: white; text-decoration: none;">

            <div class="top">
                <h6>Back To Top</h6>
            </div>

        </a>

        <div class="footer-content">

            <div class="section">

                <h4 style="color: #ffc106;">Folk Bharat</h4>

                <hr>

                <p>
                    Discover the soul of India through folk culture,
                    traditions, heritage stories, regional art,
                    festivals, and timeless history.
                </p>

            </div>

            <div class="section">

                <h4 style="color: #ffc106;">Quick Links</h4>

                <hr>

                <ul style="list-style: none; padding-left: 0;">

                    <li>
                        <a href="/"
                            style="color: white; text-decoration: none;">
                            Home
                        </a>
                    </li>

                    <li>
                        <a href="/articles"
                            style="color: white; text-decoration: none;">
                            Articles
                        </a>
                    </li>

                    <li>
                        <a href="/articles/new"
                            style="color: white; text-decoration: none;">
                            Add New Article
                        </a>
                    </li>

                    <li>
                        <a href="/articles/random"
                            style="color: white; text-decoration: none;">
                            Explore Random
                        </a>
                    </li>

                    <li>
                        <a href="/articles/map"
                            style="color: white; text-decoration: none;">
                            Explore On Map
                        </a>
                    </li>

                </ul>

            </div>

            <div class="section">

                <h4 style="color: #ffc106;">Explore</h4>

                <hr>

                <ul style="list-style: none; padding-left: 0;">

                    <li>
                        <a href="/articles/category/1"
                            style="color: white; text-decoration: none;">
                            Folk Music
                        </a>
                    </li>

                    <li>
                        <a href="/articles/category/2"
                            style="color: white; text-decoration: none;">
                            Folk Dance
                        </a>
                    </li>

                    <li>
                        <a href="/articles/category/3"
                            style="color: white; text-decoration: none;">
                            Folk Arts
                        </a>
                    </li>

                    <li>
                        <a href="/articles/category/4"
                            style="color: white; text-decoration: none;">
                            Traditions
                        </a>
                    </li>

                    <li>
                        <a href="/articles/category/5"
                            style="color: white; text-decoration: none;">
                            Cultural Places
                        </a>
                    </li>

                    <li>
                        <a href="/articles/category/6"
                            style="color: white; text-decoration: none;">
                            Food
                        </a>
                    </li>

                </ul>

            </div>

            <div class="section">

                <h4 style="color: #ffc106;">Social Media</h4>

                <hr>

                <div class="social-icons">

                    <a href="/"
                        style="color: white; text-decoration: none;">

                        <i class="fa-brands fa-instagram"></i>

                    </a>

                    <a href="/"
                        style="color: white; text-decoration: none;">

                        <i class="fa-brands fa-facebook"></i>

                    </a>

                    <a href="/"
                        style="color: white; text-decoration: none;">

                        <i class="fa-brands fa-x-twitter"></i>

                    </a>

                    <a href="/"
                        style="color: white; text-decoration: none;">

                        <i class="fa-brands fa-youtube"></i>

                    </a>

                </div>

                <br>

                <h4 style="color: #ffc106;">Address</h4>

                <hr>

                <p>
                    12, E-Block, Antilla Tower,
                    Goregaon-East, Mumbai, 400001
                </p>

            </div>

        </div>

        <div class="rights">
            <p>&copy; 2026 Folk Bharat. All rights reserved.</p>
        </div>

    </div>

</footer>