<% layout("/layouts/boilerplate") -%>

<div class="container-fluid py-3">

    <div class="form-wrapper">

        <h2 class="mb-4 fw-bold">
            Add New Article
        </h2>

        <form class="row g-4 needs-validation"
            method="POST"
            action="/articles"
            enctype="multipart/form-data"
            novalidate>

            <div class="col-lg-6 col-md-6 col-12">

                <label for="title" class="form-label">
                    <b>Title</b>
                </label>

                <input type="text"
                    class="form-control"
                    id="title"
                    name="title"
                    required>

                <div class="valid-feedback">
                    Title looks good!
                </div>

                <div class="invalid-feedback">
                    Don't keep it empty!
                </div>

            </div>

            <div class="col-lg-6 col-md-6 col-12">

                <label for="author" class="form-label">
                    <b>Author</b>
                </label>

                <input type="text"
                    class="form-control"
                    id="author"
                    name="author"
                    required>

                <div class="invalid-feedback">
                    Enter a valid Author Name!
                </div>

            </div>

            <div class="col-12">

                <label for="content" class="form-label">
                    <b>Content</b>
                </label>

                <textarea class="form-control"
                    id="content"
                    name="content"
                    rows="6"
                    placeholder="Write your article"
                    required></textarea>

                <div class="valid-feedback">
                    Looks informative!
                </div>

            </div>

            <div class="col-12">

                <label for="image" class="form-label">
                    <b>Upload Image</b>
                </label>

                <input type="file"
                    class="form-control"
                    id="image"
                    name="image">

                <div class="invalid-feedback">
                    Upload in an appropriate format!
                </div>

            </div>

            <div class="col-lg-4 col-md-6 col-12">

                <label for="category" class="form-label">
                    <b>Category</b>
                </label>

                <select id="category"
                    name="category_id"
                    class="form-select"
                    required>

                    <option selected>Select Option</option>

                    <% for(let category of categories) { %>

                        <option value="<%= category.category_id %>">

                            <%= category.category_name %>

                        </option>

                        <% } %>

                </select>

                <div class="invalid-feedback">
                    Select a valid category!
                </div>

            </div>

            <div class="col-lg-4 col-md-6 col-12">

                <label for="city" class="form-label">
                    <b>City</b>
                </label>

                <input type="text"
                    class="form-control"
                    id="city"
                    name="city"
                    required>

                <div class="invalid-feedback">
                    Don't keep it empty!
                </div>

            </div>

            <div class="col-lg-4 col-md-6 col-12">

                <label for="state" class="form-label">
                    <b>State</b>
                </label>

                <select id="state"
                    name="state_id"
                    class="form-select"
                    required>

                    <option selected>Select Option</option>

                    <% for(let state of states) { %>

                        <option value="<%= state.state_id %>">

                            <%= state.state_name %>

                        </option>

                        <% } %>

                </select>

                <div class="invalid-feedback">
                    Select a valid State!
                </div>

            </div>

            <div class="col-12">

                <button type="submit"
                    class="btn btn-warning text-white px-4 py-2">

                    Submit

                </button>

            </div>

        </form>

    </div>

</div>

<script src="/js/script.js"></script>