<% layout("/layouts/boilerplate") -%>
    <div class="container d-flex justify-content-center" style="margin-top: 3rem; margin-bottom: 3rem;">
        <div class="form-container col-lg-6 col-md-8 col-12 p-4"
            style="background-color: white;border: 2px solid #2b06ff;border-radius: 10px;">
            <h2 class="mb-4 text-center" style="color: #2b06ff;">SIGNUP</h2>
            <form class="row g-3 needs-validation" action="/users/signup" method="POST" novalidate>
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">@</span>
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                        aria-describedby="basic-addon1" name="username" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div>
                    <label for="inputEmail4" class="form-label">Email</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="abc123@gmail.com"
                        name="email" required>
                </div>
                <div>
                    <label for="inputPassword4" class="form-label">Password</label>
                    <input type="password" class="form-control" id="inputPassword4" name="password" required>
                </div>

                <div class="col-12">
                    <button type="submit" class="btn btn-primary w-100">Sign Up
                    </button>
                </div>
            </form>

            <div class="text-center mt-3">
                Already have an account?
                <a href="/users/login">
                    Login
                </a>
            </div>
        </div>
    </div>
    <script src="/js/script.js"></script>